<!DOCTYPE html>
<html>
  <head>
    <title>Furima</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="ePjhY9DcSwS7TVGFOAgWgEtaXehCinNPt9ny+b1MkUMVQYy0bZi/ALI2vUYrJ0EtKO5/Fd76Uw1iqvDyTiXltA==">
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <link rel="stylesheet" media="all" href="/assets/application-8b37e51bafa9be221e69c212403c04404d0bb4135b5867f05c728af24c3a1763.css">
    <script src="/packs/js/application-708efcef47ddbdedb7b4.js"></script>
  </head>
  <body>

  </body>
</html>